/******** base color css ********/
.btn_1{
    background-color: #373063;
    border: 1px solid #373063;
    color: $white;
    display: inline-block;
    padding: 11px 25px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    border-radius: 30px;
    white-space: nowrap;
    @include transform_time(.5s);
    text-align: center;
    i{
        font-size: 15px;
        padding-right: 7px;
    }
    &:hover{
        color: $white;
        background-color: #373063;
    }
    &.light{
        background-color: rgba($color: $base_color, $alpha: .1);
        border: 1px solid transparent;
        color: $base_color;
    }
    &.green{
        background-color: #373063;
        border: 1px solid #373063;
        color: #fff;
    }
    &.wood{
        background-color: #FFA66B;
        border: 1px solid #FFA66B;
        color: #fff;
    }
    &.blue{
        background-color: #74ADFF;
        border: 1px solid #74ADFF;
        color: #fff;
    }
    &.white{
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: #FF0707;
    }
    &.gray2{
        background-color: #F5F7F9;
        border: 1px solid #F5F7F9;
        color: #FF0707;
    }
    &.gray3{
        background-color: #A5A4C1;
        border: 1px solid #A5A4C1;
        color: #fff;
    }
    &.gray{
        background: #575D8A;
        font-size: 14px;
        border: 0;
        font-weight: 400;
        &:hover{
            background: #575D8A;
            color: #fff;
            box-shadow: none;
        }
    }
    &.sm{
        font-size: 12px;
        padding: 6px 15px;
    }
    &.big_btn{
        padding: 11px 36px;
    }
    &.form_big_btn_1{
        padding: 16px 62px !important;
        @media #{$small_mobile} {
            padding: 16px 30px !important;
        }
    }
    &.big_btn2{
        padding: 11px 37px;
    }
    &.radius_btn{
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        background: #5B6CE1;
        padding: 16px 10px;
        &:hover{
            color: $white;
            background-color: #5B6CE1;
            box-shadow: 0 3px 6px #CBD1FF;
        }
    }
}
.Euro_btn{
    background-color: #F5F6FF;;
    color: $white;
    display: inline-block;
    padding: 11px 43px;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 23px;
    font-weight: 700;
    border-radius: 5px;
    white-space: nowrap;
    @include transform_time(.5s);
    color: #9267FF;

    &:hover{
        background-color: #9267FF;
        color: #000;
    }
}
.btn_2{
    color: #FF3939;
    border: 1px solid #FF3939;
    display: inline-block;
    padding: 11px 23px;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent ;
    white-space: nowrap;
    @include transform_time(.5s);
    &:hover{
        background-color: #FF3939;
        border: 1px solid #FF3939;
        color: $white;
    }
}
.btn_3{
    color: $heading_color_1;
    border: 1px solid $border_color_3;
    display: inline-block;
    padding: 11px 27px;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $white;
    white-space: nowrap;
    @include transform_time(.5s);
    &.border_color_1{
        border: 1px solid #eee1e2;
        
    }
    &:hover{
        background-color: $base_color;
        border: 1px solid $base_color;
        color: $white;
    }
}
.btn_4{
    display: inline-block;
    border: 1px solid $border_color_3;
    border-radius: 5px;
    color: $text_color;
    text-align: center;
    padding: 9px 15px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 300;
    @include transform_time(.5s);
    &:hover{
        background-color: $base_color;
        border: 1px solid $base_color;
        color: $white;
    }
}

.btn_5{
    border: 1px solid #fff;
    display: inline-block;
    padding: 16px 26px !important;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $white;
    white-space: nowrap;
    @include transform_time(.5s);
    background: #fff !important;
    text-shadow: none !important;
    opacity: 1;
    color: #222222;
    &:hover{
        background-color: $base_color !important;
        border: 1px solid $base_color !important;
        color: $white;
        opacity: 1 !important;
    }
    &.small_btn{
        padding: 11px 26px !important;
        @media #{$small_mobile} {
            padding: 11px 19px !important;
        }
        @media #{$large_mobile} {
            padding: 11px 19px !important;
        }
    }
}
.btn_6{
    color: $heading_color_1;
    border: 1px solid $border_color_4;
    display: inline-block;
    padding: 11px 25px;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $white;
    white-space: nowrap;
    @include transform_time(.5s);
    &:hover{
        background-color: $base_color;
        border: 1px solid $base_color;
        color: $white;
    }
}
.sm_btn {
    line-height: 15px;
    background-color: #fff;
    height: 34px;
    padding: 9px 20px;
    color: #212e40;
    width: 150px;
    text-transform: capitalize;
    border: 1px solid $border_color_4;
}
.view_archive_btn{
    border: 1px solid $border_color_3;
    color: $text_color;
    padding: 16px 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 16px;
    background-color: $white;
    @include transform_time(.5s);
    i{
        margin-right: 15px;
    }
    &:hover{
        color: $base_color;
        border: 1px solid $base_color;
    }
}

.white_btn{
    display: inline-block;
    color: #6F7A92;
    font-size: 14px;
    font-weight: 300;
    background: #fff;
    transition: .3s;
    padding: 12px 30px;
    border-radius: 0px;
    border: 1px solid #ECECEC;
    line-height: 1;
    &:hover{
        background: #5886FF;
        color: #fff;
        border-color: #5886FF;
    }
}
.small_blue_btn{
    display: inline-block;
    color: #6F7A92;
    font-size: 14px;
    font-weight: 300;
    background: #fff;
    transition: .3s;
    padding: 7px 13px;
    border-radius: 0px;
    border: 1px solid #ECECEC;
    line-height: 1;
    border-radius: 5px;
    &.radius_0{
        border-radius: 0;
    }
    &.active{
        background: #1652F0;
        color: #fff;
        border-color: #1652F0;
    }
    &:hover{
        background: #1652F0;
        color: #fff;
        border-color: #1652F0;
    }
}

.default_btn{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #2D1967;
    transition: .3s;
    padding: 15px 25px;
    border-radius: 3px;
    &:hover{
        color: #fff;
    }
}
.close.white_btn2{
    border: 1px solid #fff;
    display: inline-block;
    padding: 16px 26px !important;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $white;
    white-space: nowrap;
    @include transform_time(.5s);
    background: #fff !important;
    text-shadow: none !important;
    opacity: 1;
    color: #222222;
    margin-right: 10px;
    &:hover{
        background-color: $base_color !important;
        border: 1px solid $base_color !important;
        color: $white;
        opacity: 1 !important;
    }
}
.white_btn3{
    border: 1px solid #fff;
    display: inline-block;
    padding: 14px 30px !important;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $white;
    white-space: nowrap;
    @include transform_time(.3s);
    background: #fff !important;
    text-shadow: none !important;
    opacity: 1;
    color: #101038;
    box-shadow: 0 3px 11px rgba(0, 0, 0,.17);
    &:hover{
        background-color: #373063 !important;
        border: 1px solid #373063 !important;
        color: $white;
        opacity: 1 !important;
    }
}

.status_btn{
    display: inline-block;
    padding: 2px 15px;
    font-size: 11px;
    font-weight: 300;
    color: #2BD27F !important;
    background: #E7FBF0;
    @include border-radius(4px);
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
    &.yellow_btn{
        background: #ffba00;
    }
    &.pending_btn{
        background: #E5F2FF;
        color: #1598FF !important;
    }
    &:hover{
        color: #fff;
    }
}
.dropdown{
    .dropdown-toggle.lms_drop_1 {
        background: #fff;
        padding: 4px 15px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 300;
        text-transform: capitalize;
        text-align: left;
        color: #7e7172;
        display: inline-block;
        width: 102px;
        border: 0;
        border: 1px solid #eee1e2;
        position: relative;
        transition: .3s;
        &::after{
            content: "\f0d7";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            right: 0;
            top: 12px;
            color: #cec1c2;
            font-size: 12px;
            font-weight: 900;
            margin: 0;
            padding: 0;
            border: 0;
            border: 0;
            top: 50%;
            @include transform(translateY(-50%));
            right: 14px;
        }
        &.lms_drop_2{
            min-width: 140px;
        }
    }
    &.show{
        .dropdown-toggle.lms_drop_1 {
            background: #2D1967;
            padding: 4px 15px;
            border-radius: 3px;
            font-size: 12px;
            font-weight: 300;
            text-transform: capitalize;
            text-align: left;
            color: #7e7172;
            display: inline-block;
            width: 102px;
            border: 0;
            color: #fff;
            border: 1px solid #2D1967;
            &::after{
                content: "\f0d8";
            }
        }
    }
    .dropdown-menu{
        border: 0;
        padding: 6px 0 10px 0;
        margin: 0;
        border-radius: 0 !important;
        .dropdown-item{
            font-size: 16px;
            font-weight: 300;
            padding: 4px 20px;
            color: #242934;
            &:hover{
                color: #fff !important;
                background: #5886FF ;
            }
        }
        &.dropdown-menu-w140{
            min-width: 140px;
        }
    }
}
.white_btn_line {
    white-space: nowrap;
    height: 50px;
    background: transparent;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    border: 0;
    padding: 0 19px;
    border-radius: 3px;
    border: 1px solid #eee1e2;
    color: #7e7172;
    transition: .3s;
    i{
        font-size: 13px;
        color: #7e7172;
        margin-right: 6px;
    }
    &:hover{
        background: #2D1967;
        color: #fff;
        border: 1px solid #2D1967;
        i{
            color: #fff;
            transition: .3s;
        }
    }
}
.white_btn_line2 {
    white-space: nowrap;
    height: 30px;
    background: transparent;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    text-transform: capitalize;
    border: 0;
    border: 1px solid #eee1e2;
    color: #7e7172;
    transition: .3s;
    border-radius: 30px;
    line-height: 28px;
    padding: 0 18px;
    &:hover{
        background: #2D1967;
        color: #fff !important;
        border: 1px solid #2D1967;
        i{
            color: #fff;
            transition: .3s;
        }
    }
}
.theme_text_btn{
    font-size: 14px;
    color: #46D293;
    font-weight: 700;
    &:hover{
        color: #46D293;
    }
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    // background-color:#222;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    content: "\e61a";
    font-family: 'themify';
    font-size: 8px;
    line-height: 14px;
    font-weight: 600;
    background-color: #fef1f2;
    box-shadow: 6px 6px 12px rgba(0,0,0,.08),
         -6px -6px 12px rgba(255,255,255,1);

}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {

    content: "\e622";
    // background: #2D1967;
    box-shadow: inset 6px 6px 12px rgba(0,0,0,.08),
    inset -6px -6px 12px rgba(255,255,255,1);

}



// CRM_dropdown 
.CRM_dropdown.dropdown{
    .dropdown-toggle{
        background: #FFFFFF;
        color: #6F7A92;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid #ECECEC;
        border-radius: 0px;
        padding: 6px 20px;
        text-transform: uppercase;
        overflow: hidden;
        transition: .3s;
        &:after{
            content: "\f0d7";
            font-family: "Font Awesome 5 free";
            border: none;
            border-top-color: currentcolor;
            border-top-style: none;
            border-top-width: medium;
            border-top: 0px;
            font-size: 15px;
            position: relative;
            top: 3px;
            left: 0;
            font-weight: 900;
            transition: .3s;
        }
        &:hover , &:focus{
            color: #fff;
            // @extend %gradient_1;
            background: #5886FF;
            border: 1px solid #5886FF ;
            box-shadow: none;
        }
    }
    &.show{
        .dropdown-toggle{

            &::after{
                
            }
        }
    }
    .dropdown-menu{
        border-radius: 0px;
        border: 0px;
        padding: 0px;
        box-shadow: 0px 10px 20px rgba(51, 196, 230,.05);
        .dropdown-item{
            color: #828bb2;
            text-align: left;
            font-size: 14px;
            padding: 10px 1.5rem;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                color: #5886FF;
            }
        }
    }
}

.dropdown-menu.option_width_8 {
    min-width: 150px;
  }
.action_btn{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: transparent ;
    line-height: 30px;
    text-align: center;
    color: #67349D;
    font-size: 12px;
    transition: .3s;
    display: inline-block ;
    flex: 32px 0 0;
    &:hover{
        background:  #67349D;
        color: #fff;
        box-shadow: 0  5px 10px rgba(136, 79, 251,.26);
    }
}

.color_button{
    background-color: #8950FC;
    border: 0;
    color: $white;
    display: inline-block;
    padding: 13px 25px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    white-space: nowrap;
    @include transform_time(.5s);
    &.color_button2{
        background: #9AFDD2;
        color: #313131;
        &:hover{
            background: #9AFDD2;
            color: #313131;
        }
    }
    &.color_button3{
        background: #FFCA60;
        color: #313131;
        &:hover{
            background: #FFCA60;
            color: #313131;
        }
    }
    &:hover{
        background-color: #8950FC;
        color: $white;
    }
}
.export_btn{
    background: #FF7A88;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    display: inline-block;
    border: 0;
    &:focus{
        outline: none;
    }
}