/******** header css here *********/
.header_iner{
    // padding: 27px 30px;
    position: fixed;
    // width: 85%;
    top: 0;
    z-index: 99;
    padding: 15px 30px;
    position: relative;
    border-radius: 0px;
    margin: 0;
    background: #fff;
    border-radius: 0;
    margin: 0;
    border-radius: 0px;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     // height: 235px;
    //     height: 98px;
    //     left: 0;
    //     top: 0;
    //     // background: #373063;
    //     z-index: -1;
    //     border-radius: 0 0 10px 10px;
    // }
    &.default_header{
         background: #F65365;
         border-radius: 0;
        &::before{
            // height: 98px;
        }
    }
    @media #{'only screen and (min-width: 1200px)'} {
        // margin: 0 30px;
    }
    @media #{$small_mobile} {
        justify-content: flex-end !important;
    }
    @media #{$large_mobile} {
        justify-content: flex-end !important;
    }
    @media #{$tab}{
        // width: 100%;
        padding: 20px;
        margin: 0;
    }
    @media #{$tab_device} {
        // margin: 0 10px;
    }
    @media #{$small_mobile} {
        // margin:0 0 15px 0;
        margin: 0;
    }
    @media #{$large_mobile} {
        // margin:0 0 15px 0;
        margin: 0;
    }
    @media #{$medium_device}{
        // width: 80%;
    }
    @media #{'only screen and (min-width: 1200px)'} {
        // margin-bottom: 20px;
    }
    .page_tittle{
        @media #{$tab}{
            // padding-left: 40px;
        }
        @media #{$small_mobile}{
            // padding-left: 25px;
        }
        h3{
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            color: #222222;
            margin-bottom: 2px;
            @media #{$tab}{
                margin-right: 15px;
            }
        }
        .page_subtitle{
            font-size: 12px;
            font-weight: 300;
            color: #7e7172;
            margin-bottom: 0;
            .page_subtitle_inenr {
                color: #7e7172;
                &.active_subcat{
                    color:#fe1724;
                    white-space: nowrap;
                }
                i{
                    margin-left: 10px;
                    margin-right: 7px;
                    font-size: 12px;
                }
                svg {
                    position: relative;
                    margin: 0 7px 0 10px;
                    top: -1px;
                    @media #{$small_mobile} {
                        margin: 0 2px 0 2px;
                    }
                }
            }
        }
    }

    .btn_1{
        margin: 0 30px;
    }
    .notification{
        @media #{$tab}{
            margin: 0 10px;
        }
        i{
            color: $text_color_3;
            position: relative;
            font-size: 20px;
            &:after{
                position: absolute;
                content: "";
                right: -1px;
                top: 0;
                height: 9px;
                width: 9px;
                background-color: $base_color;
                border-radius: 50%;
            }
        }
    }
    .serach_field-area {
        margin-right: auto;
        margin-left: 40px;
        width: 230px;
        @media #{$mobile_device} {
            display: none !important;
        }
        @media #{$tab_device} {
           width: auto;
           left: 40px;
        }
        @media #{$tab_device} {
           width: auto;
           margin-right: 70px;
        }
        @media #{$medium_device} {
           width: auto;
           margin-right: 70px;
        }
    }
    .header_right{
        .header_notification_warp{
            margin-right: 30px;
            margin-left: 10px;
            
            li{
                display: inline-block;
                position: relative;
                

                .serach_button{
                    width: 32px;
                    height: 32px;
                    background: #373063;
                    border-radius: 50%;
                    text-align:center;
                    line-height: 32px;
                    cursor: pointer;
                    margin-right: 20px;
                    position: relative;
                    i{
                        color: #fff;
                        font-size: 16px;
                        line-height: 32px;
                    }
                    .serach_field-area {
                        position: absolute;
                        right: 0;
                        top: 0px;
                        top: 0px;
                        background: #fff;
                        border-radius: 10px;
                        opacity: 0;
                        transition: .3s;
                        visibility: hidden;
                        right: 50px;
                        top: -4px;
                        &.active{
                            opacity: 1;
                            visibility: visible;
                        }
                        i{
                            color: rgba(137, 80, 252,.7);
                        }
                        input{
                            // padding-left: 30px;
                            border-radius: 10px;
                        }
                        button{
                            // left: auto;
                            // right: 0;
                        }
                    }
                }
                &:last-child a{
                    margin-right: 0;
                }
                > a{
                    position: relative;
                    margin-right: 10px;
                    width: 47px;
                    height: 47px;
                    background: transparent;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    flex: 47px 0 0;
                    background: #F9F9F9;
                    img{
                       width: 20px;
                    }
                    span{
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        text-align: center;
                        color: #fff;
                        display: inline-block;
                        background: #fff;
                        font-size: 11px;
                        border-radius: 50%;
                        right: -12px;
                        top: -12px;
                        background:#486DCF;
                        line-height: 22px;
                        border: 6px solid #fff;
                    }
                }
            }
        }
        .select_style {
            @media #{$small_mobile} {
                display: none !important;
            }
            @media #{$large_mobile} {
                display: none !important;
            }
        }
    }
    .nice_Select {
        color: #929BB5;
    }
}
.profile_info{
    position: relative;
    // lms none 
    // display: none;
    img{
        max-width: 54px;
        max-height: 54px;
        border-radius: 50%; 
        cursor: pointer;
        @media #{$tab}{
            max-width: 30px;
        }
    }
    .author_name{
        h4{
            color: #434750;
            margin-bottom: 0;
            line-height: 18px;
        }
        span{
            color: #9B9ABA;
        }
    }
    .profile_info_iner{
        position: absolute;
        right: 0;
        background-color: $white;
        text-align: left;
        width: 215px;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        top: 77px;
        @include transform_time(.5s);
        @include border-radius(0px);
        box-shadow: 0 0 2px 2px rgba(62, 217, 124,.1);
        &::before{
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            top: -10px;
            right: 15px;
            border-width: 0 11px 12px 11px;
            border-color: transparent transparent #373063 transparent;
            z-index: 2;
        }
        .profile_author_name{
            padding: 20px 25px;
            @extend %gradient_3;
            background: #373063;
            border-radius: 0;
        }
        a{
            display: block;
            
        }
        p{
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }
        h5{
            font-size: 20px;
            color: $white;
            font-weight: 600;
        }
    }
    &:hover{
        .profile_info_iner{
            opacity: 1;
            visibility: visible;
            top: 77px;
        }
    }
    .profile_info_details{
        padding: 20px 25px;
        a{
            color: $base_color;
            font-size: 14px;
            display: block;
            padding: 10px 0;
            font-weight: 400;
            &:hover{
                color: $base_color;
                i{
                    color: $base_color;
                }
            }
        }
        i{
            color: $base_color;
            font-size: 12px;
            margin-left: 20px;
            @include transform_time(.5s);
        }
    }
}
.sidebar_icon{
    position: absolute;
    top: 50%;
    // left: 30px;
    @include transform(translateY(-50%));
    right: auto;
    left: 20px;
    @media #{$small_mobile}{
        right: auto;
        left: 20px;
    }
    @media #{$large_mobile}{
        right: auto;
        left: 20px;
    }
    i{
        font-size: 20px;
        color: #000;
    }
}

/******** header css end *********/

  
// admin _menu Style 
.serach_field-area{
    width: 230px;
    position: relative;
    // margin-right: 30px;
    background: #F6FAFF ;
    border-radius: 5px;
    &.theme_bg{
        background: #F6F7FB;
        input{
            background: transparent !important;
        }
    }
    @media #{$medium_device} {
        width: 218px;
    }
    .search_inner{
        width: 100%;
        input{
            color: #000;
            font-size: 14px;
            height: 40px;
            width: 100%;
            padding-left: 15px;
            border: 0;
            padding-right: 6px;
            background: #F6FAFF ;
            border-radius: 5px;
            border: 0;
            font-weight: 400;
            padding: 12px;
            &::placeholder{
                font-size: 14px;
                font-weight: 400;
                color: #B3C8E1;
                font-family: $font_style_1;
            }
            &:focus{
                outline: none;
            }
        }
        button{
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            background: transparent ;
            border: 0;
            width: 40px;
            height: 40px;
            background: transparent;
            line-height: 40px;
            img{
                position: relative;
                top: -2px;
            }
            i{
                font-size: 14px;
                color:#818E94;
            }
        }
    }
    

} 
.serach_field-area2{
    width: 480px;
    position: relative;
    // margin-right: 30px;
    @media #{$tab} {
        width: auto;
        
    }
    .search_inner{
        input{
            color: #000;
            font-size: 17px;
            height: 55px;
            width: 100%;
            padding-left: 82px;
            border: 0;
            padding-right: 15px;
            border-bottom: 1px solid #F4F7FC;
            background: #F5F7FD  ;
            border-radius: 30px;
            &::placeholder{
                font-size: 16px;
                font-weight: 400;
                color: #000;
                font-family: $font_style_1;
            }
            &:focus{
                outline: none;
            }
        }
        button{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: transparent ;
            font-size: 12px;
            border: 0;
            padding-left: 40px;
            padding-right: 11px;
            i{
                font-size: 14px;
                color:#818E94;
            }
        }
    }
    

}  
// admin _menu Style 
.serach_field_2{
    width: 430px;
    position: relative;
    margin-right: 0px;
    @media #{$small_mobile} {
        width: 100%;
    }
    @media #{$large_mobile} {
        width: 190px;
    }
    @media #{$tab_device} {
        width: 230px;
    }
    @media #{$mid_device} {
        width: 300px;
    }
    .search_inner{
        input{
            color: #091023;
            font-size: 13px;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            padding-left: 55px;
            border: 1px solid #091023;
            padding-right: 15px;
            &::placeholder{
                font-size: 13px;
                font-weight: 300;
                color: #7e7172;
            }
            &:focus{
                outline: none;
            }
        }
        button{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: transparent ;
            
            font-size: 12px;
            border: 0;
            padding-left: 19px;
            padding-right: 11px;
            i{
                font-size: 12px;
                color: #2D1967;
            }
            &::before{
                position: absolute;
                width: 1px;
                height: 24px;
                content: '';
                background: #2D1967;
                top: 50%;
                @include transform(translateY(-50%));
                right: 0;
            }
        }
    }
    

}



table.dataTable {

    width: 100% !important;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;

}

th,td{
    // white-space: nowrap;
}
.table td, .table th {

    padding: .75rem;
    vertical-align: top;
    border-top: 0 !important;

}

#calendar {
    // max-width: 900px;
    // margin: 0 auto;
    width: 100%;
    height: 800px;
  }
  .fc-day-grid-event .fc-content {
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 10px;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 700;
}