.email-sidebar{
    // background: #fff;
    // box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    // position: relative;
    // z-index: 6;
    // padding: 15px;
    height: calc(100% - 3.9375rem);
    button{
      border-radius: 30px;
    }
    h4{
        font-weight: 600;
        font-size: .875rem;
        color: #333;
        padding: 2.5rem 0 3.125rem 1.5625rem;
    }
    ul{
        margin-bottom: 3.125rem;
        li{
            display: block;
            // &.active{
            //     background: #373063;
            //     box-shadow: 0 .625rem 1.875rem 0 rgba(45, 170, 184,.30);
            //     color: #fff !important;
            //     a{
            //         color: #fff;
            //     }
            // }
            &.active{
              a{
                background: rgba(136, 79, 251,.1);
                color: #373063 !important;
              }
              
            }
            a{
                display: flex;
                padding: 10px 15px;
                transition: all .5s ease-in-out;
                font-weight: 600;
                font-size: 15px;
                color: #333;
                align-items: center;
                border-radius: 5px;
                >span{
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                }
                &:hover{
                  background: rgba(136, 79, 251,.1);
                  color: #373063 !important;
                    i{
                      color: #373063;
                    }
                }
                i{
                    margin-right: .7rem;
                }
            }
        }
    }
}


/* line 1, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
.primary_checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    flex: 20px 0 0;
    line-height: 20px;
  }
  
  /* line 9, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
  .primary_checkbox .checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 20px;
    flex: 20px 0 0;
    border-radius: 5px;
  }
  
  /* line 26, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
  .primary_checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  
  /* line 35, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
  .primary_checkbox input:checked ~ .checkmark:after {
    width: 100%;
    height: 100%;
    border: 0;
    transition: .3s;
    transform: scale(0);
  }
  
  /* line 44, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
  .primary_checkbox input:checked ~ .checkmark {
    background: #373063 !important;
    box-shadow: 0px 5px 10px rgba(59, 118, 239,.30) !important;
    transition: .3s;
  }
  
  /* line 52, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
  .primary_checkbox input:checked ~ .checkmark::before {
    content: "\e64c";
    font-family: "themify";
    position: absolute;
    display: block;
    top: 0px;
    left: 3px;
    text-indent: 1px;
    color: #828BB2;
    background-color: transparent;
    border: 0px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    z-index: 99;
    color: #fff;
    transition: .3s;
  }
  
  /* line 76, ../../../../../../xampp/htdocs/CRM_frontend/admin/public/frontend/scss/_predefine.scss */
  .primary_checkbox {
    .checkmark{
      &:after {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        content: "";
        width: 20px;
        height: 20px;
        background: transparent;
        border-radius: 5px;
        border: 0;
        transition: .3s;
        transform: scale(1);
        background: rgba(201, 247, 201,.34);
      }
      &.red_check::after{
        background: rgba(255, 226, 229,.34);
      }
    }
  }
  